body{
    margin: 0;
    overflow: hidden;
}
/* .cusSticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
} */

nav > i {
    color: white;
    margin: 3px;
}
nav.viewSwitch {
    display: flex;
    justify-content: center;
}

div.class {
    margin: 1rem;
}

div.cardHeader {
    display: flex;
    justify-content: space-between;
}

div.row > div >img{
    margin: 50px;
}

div.cardContainer {
    display: flex;
    flex-direction: column;
}